# Preserve canonical license text verbatim, including upstream
# trailing spaces and terminal blank lines.
OFL-1.1.md -text whitespace=-blank-at-eol
native/* -text
native/KISSFFT_COPYING.txt whitespace=-blank-at-eof
